boto3
Flask
Flask-Cors
GitPython
pinecone-client
pinecone[grpc]
pymongo
python-box==6.0.2
python-dotenv==1.0.1
PyYAML
pyaml
pypdfium2
sentence-transformers
langchain
langchain-community
langchainhub
langchain-google-genai
langchain-aws
langchain_anthropic
langchain_groq
langgraph
langsmith
unstructured
unstructured[pdf]
ensure
tqdm